* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent
}

*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

a {
  display: block;
  cursor: pointer;
  font-size: inherit;
  color: currentColor
}

aside,
nav {
  display: block
}

button,
input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  background-color: transparent;
  color: currentColor
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer;
  background-color: transparent
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ol,
ul {
  list-style: none
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: middle
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row {
  --x: 100px;
  --y: 80px;
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  margin-top: calc(var(--y) * -1);
  margin-right: calc(var(--x) / -2);
  margin-left: calc(var(--x) / -2)
}

.row>* {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--x) / 2);
  padding-left: calc(var(--x) / 2);
  margin-top: var(--y)
}

.col-1 {
  flex: 0 0 auto;
  width: 8.333333%
}

.col-2 {
  flex: 0 0 auto;
  width: 16.666667%
}

.col-3 {
  flex: 0 0 auto;
  width: 25%
}

.col-4 {
  flex: 0 0 auto;
  width: 33.333333%
}

.col-5 {
  flex: 0 0 auto;
  width: 41.666667%
}

.col-6 {
  flex: 0 0 auto;
  width: 50%
}

.col-7 {
  flex: 0 0 auto;
  width: 58.333333%
}

.col-8 {
  flex: 0 0 auto;
  width: 66.666667%
}

.col-9 {
  flex: 0 0 auto;
  width: 75%
}

.col-10 {
  flex: 0 0 auto;
  width: 83.333333%
}

.col-11 {
  flex: 0 0 auto;
  width: 91.666667%
}

.col-12 {
  flex: 0 0 auto;
  width: 100%
}

.flex-wrap {
  flex-wrap: wrap
}

.flex {
  display: flex
}

.align-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.text-center {
  text-align: center
}

.flex-column {
  flex-direction: column
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #08090B;
  color: #464E62;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column
}

main {
  flex: 1 1 auto
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.mini__container {
  width: 1116px;
  margin: 0 auto;
}

.middle__container {
  width: 1480px;
  margin: 0 auto;
}

/* HEADER */

.header {
  background-color: #08090B;
  padding: 28px 0;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(64, 193, 251, 0.00) 8.36%, #40C1FB 50.39%, rgba(64, 193, 251, 0.00) 91.67%), #252C41;
    position: absolute;
    bottom: 0;
  }

  &__logo svg {
    width: 200px;
    height: 35px;
  }

  &__logo {
    transition: all .2s;
    width: 197px;
  }

  &__logo img {
    width: 100%;
  }

  &__logo:hover {
    opacity: .7;
  }

  &__search {
    padding: 10px 24px 10px 16px;
    border-radius: 6px;
    width: 400px;
    background: radial-gradient(100.04% 100% at 50% 0%, #26314E 0%, #252B3D 100%);
  }

  &__search input,
  &__search input::placeholder {
    color: #6D799C;
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
    width: 100%;
  }

  &__search svg {
    width: 20px;
    height: 20px;
  }

  &__ul li:not(:last-child) {
    margin-right: 32px;
  }

  &__ul li a {
    color: #464E62;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    transition: all .2s;
  }

  &__ul li a:hover {
    color: #fff;
  }

  &__reg li:not(:last-child) {
    margin-right: 8px;
  }

  &__reg li a {
    color: #CEE7FF;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 6px;
    background: radial-gradient(100.04% 100% at 50% 0%, #26314E 0%, #1E253C 100%);
    transition: all .2s;
  }

  &__reg li a:hover {
    opacity: .7;
  }

  &__reg li:last-child a {
    color: #000;
    border-radius: 6px;
    background: var(--1, radial-gradient(100.04% 100% at 50% 0%, #66CBF9 0%, #0FB5FF 100%));
  }

  .divider {
    margin: 0 36px;
    width: 2px;
    height: 26px;
  }
}

/* HEADER END */

/* MAIN */
section {
  position: relative;
}

.first {
  padding: 88px 0 70px 0;
  overflow: hidden;

  &__left {
    z-index: 1;
  }

  &__part {
    position: absolute;
    right: 0;
    z-index: 0;
    top: -95px;
    pointer-events: none;
  }

  &__name {
    border-radius: 6px;
    border-top: 1px solid #1E2844;
    background: radial-gradient(107.69% 100% at 50% 0%, #131A2E 0%, #111624 100%);
    padding: 8px 12px;
    font-size: 16px;
    color: #4ACDFE;
    width: max-content;
    font-weight: 600;
  }

  &__name img {
    width: 16px;
    margin-right: 10px;
  }

  h1 {
    color: #D5EAFF;
    font-size: 72px;
    font-weight: 465;
    line-height: 80px;
    max-width: 700px;
    margin-top: 24px;
  }
}

.second {
  border-top: 1px solid #252C41;

  .container {
    position: relative;
    padding: 100px 0 90px 0;
  }

  & .fifth__input {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
  }

  .table {
    width: 100%;
    text-align: center;
    border-radius: 16px;
    border: 1px solid #232E3F;
    background: radial-gradient(100.04% 100% at 50% 0%, #26314E 0%, #131820 0.01%, #0F151E 100%);

    .table__span {
      font-size: 16px;
    }

    .table__head.table__row {
      border: none;
    }

    .table__row {
      height: 76px;
      border-top: 1px solid #232E3F;
      padding: 0 24px;
    }

    .table__row:last-child {
      border-bottom: none;
    }

    .table__row,
    .table__right,
    .table__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .table__head .table__right .table__item,
    .table__body .table__right .table__item {
      width: 140px;
      justify-content: center;
      align-items: center;
    }

    .table__head .table__right .table__item.volume,
    .table__body .table__right .table__item.volume {
      width: 180px;
    }

    .table__head .table__right .table__item:last-child,
    .table__body .table__right .table__item:last-child {
      width: 170px;
      justify-content: flex-end;
    }

    .table__item {
      display: flex;
      align-items: center;
    }

    .table__item img {
      min-width: 36px;
      width: 36px;
    }

    .table__item {
      color: #C7E1FF;
      font-size: 20px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: -0.5px;
    }

    .table__item-name {
      color: #C7E1FF;
      font-size: 20px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: -0.5px;
      margin: 0 8px 0 20px;
    }

    .table__item.green {
      color: #58F0A7;
    }

    .table__item.red {
      color: #F94B55;
    }

    .table__item-coin {
      color: #525A71;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.25px;
      text-transform: uppercase;
    }

    .table__item a {
      padding: 6px 16px;
      border-radius: 6px;
      border: 1px solid #2FBDFC;
      color: #2FBDFC;
      font-size: 18px;
      font-weight: 500;
      width: max-content;
      display: flex;
      justify-content: center;
      transition: all .2s;
    }

    .table__item a:hover {
      border: 1px solid #fff;
      color: #fff;
    }

    .table__head .table__item {
      color: #6D799C;
      font-size: 16px;
      font-weight: 500;
      padding: 24px 0;
    }
  }

  .table__button {
    border-radius: 8px;
    padding: 10px 24px;
    background: radial-gradient(100.04% 100% at 50% 0%, #26314E 0%, #1E253C 100%);
    color: #CEE7FF;
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
    text-align: center;
    transition: all .2s;
  }

  .table__button:hover {
    opacity: .7;
  }
}

.third {
  padding: 88px 0;
  border-top: 1px solid #252C41;

  h1 {
    color: #D5EAFF;
    font-size: 48px;
    font-weight: 445;
    line-height: 64px;
    max-width: 680px;
    margin-bottom: 16px;
  }

  h2 {
    color: #464E62;
    font-size: 18px;
    font-weight: 400;
    line-height: 160.023%;
    max-width: 640px;
  }

  &__part-1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
  }

  &__right {
    position: relative;
  }

  &__right .col:first-child {
    margin-right: 100px;
  }

  &__right .third__img {
    text-align: center;
    z-index: 1;
    position: relative;
  }

  &__right .col:first-child .third__img:nth-child(2) {
    margin: 80px 0;
  }

  &__right .col:last-child .third__img:nth-child(2) {
    margin: 69px 0;
  }

  &__part-2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    pointer-events: none;
  }
}

.fourth {
  padding: 68px 0 88px 0;

  &::before {
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(64, 193, 251, 0.00) 8.36%, #40C1FB 50.39%, rgba(64, 193, 251, 0.00) 91.67%), #252C41;
    position: absolute;
    top: 0;
  }

  &__back {
    width: 60px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #52C5FA;
    background: linear-gradient(180deg, #242834 0%, #1A1D26 100%);
    box-shadow: 0px 1px 7px 0px rgba(255, 255, 255, 0.32) inset;
  }

  &__name {
    color: #D5EAFF;
    font-size: 20px;
    font-weight: 469;
    line-height: 145.023%;
    margin: 24px 0 8px 0;
  }

  &__desc {
    color: #464E62;
    font-size: 18px;
    font-weight: 400;
    line-height: 160.023%;
  }
}

.fifth {
  padding: 86px 0 42px 0;
  overflow: hidden;

  &__part {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
  }

  &::before {
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(64, 193, 251, 0.00) 8.36%, #40C1FB 50.39%, rgba(64, 193, 251, 0.00) 91.67%), #252C41;
    position: absolute;
    top: 0;
  }

  h1 {
    color: #D5EAFF;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;
    max-width: 698px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
  }

  &__input {
    border-radius: 6px;
    background: radial-gradient(100.04% 100% at 50% 0%, #26314E 0%, #252B3D 100%);
    padding: 0 0 0 16px;
    width: max-content;
    margin: 54px auto 89px auto;
  }

  &__input svg {
    width: 22px;
    min-width: 22px;
    margin-right: 10px;
  }

  &__input input,
  &__input input::placeholder {
    color: #6D799C;
    font-size: 18px;
    font-weight: 500;
    width: 260px;
  }

  &__input a {
    border-radius: 6px;
    background: radial-gradient(100.04% 100% at 50% 0%, #66CBF9 0%, #0FB5FF 100%);
    padding: 10px 24px;
    color: #08090B;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    margin-left: 10px;
    transition: all .2s;
  }

  &__input a:hover {
    opacity: .7;
  }

  &__logo {
    margin: 0 auto;
    display: flex;
    transform: translateX(-155px);
  }
}

/* MAIN END */

/* FOOTER */

.footer {
  padding: 62px 0 32px 0;
  border-top: 1px solid #252C41;

  &__logo {
    transition: all .2s;
  }

  &__logo:hover {
    opacity: .7;
  }

  &__top {
    width: 100%;
  }

  &__media {
    margin: 48px 0 68px 0;
  }

  &__media li:not(:last-child) {
    margin-right: 16px;
  }

  &__right li:not(:last-child) {
    margin-bottom: 28px;
  }

  &__right li a {
    color: #464E62;
    font-size: 18px;
    font-weight: 445;
    transition: all .2s;
  }

  &__right li a:hover {
    color: #fff;
  }

  &__media li a {
    transition: all .2s;
  }

  &__media li a:hover {
    opacity: .7;
  }

  &__col:not(:last-child) {
    margin-right: 56px;
  }

  &__text {
    color: #27314A;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    margin-top: 64px;
  }
}

/* FOOTER END */

.menu__icon {
  z-index: 5;
  display: none;
}

.menu__body {
  position: fixed;
  top: 0;
  left: -230px;
  height: 100%;
  background-color: #00000078;
  padding: 15px;
  transition: all 0.3s ease 0s;
  overflow: auto;
  backdrop-filter: blur(15px);
  width: 230px;
  z-index: 3;
  color: #fff;
}

.menu__body._active {
  left: 0;
}

.menu__list>li {
  margin: 0px 0px 20px 0;
  font-size: 20px;
}

.menu__list>li:last-child {
  margin-bottom: 0px;
}

.menu__link {
  font-size: 22px;
  white-space: nowrap;
}

.menu__icon svg {
  cursor: pointer;
  height: 50px;
  transform: translate3d(0px, 0px, 0px);
  width: 65px;
}

.menu__icon path.top,
.menu__icon path.bottom {
  stroke-dasharray: 240px, 950px;
}

.menu__icon path.middle {
  stroke-dasharray: 240px, 240px;
}

.menu__icon path {
  fill: none;
  stroke: #fff;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 18;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}

.menu__icon._active path.top,
.menu__icon._active path.bottom {
  stroke-dashoffset: -650px;
}

.menu__icon path.top,
.menu__icon path.bottom {
  stroke-dasharray: 240px, 950px;
}

.menu__icon._active path.middle {
  stroke-dasharray: 1px, 220px;
  stroke-dashoffset: -115px;
}

._active__footer {
  padding-left: 250px;
}

._active__footer>.footer__menu li {
  font-size: 15px;
}

@media (max-width: 1740px) {

  .container,
  .middle__container {
    width: 1300px;
    margin: 0 auto;
  }

  .first__part {
    width: 1120px;
    top: -75px;
  }

  .header .divider {
    margin: 0 24px;
  }

  .header__ul li:not(:last-child) {
    margin-right: 16px;
  }

  .header__search {
    width: 350px;
  }

  .first h1 {
    font-size: 60px;
    line-height: 70px;
    margin-top: 12px;
  }

  .first {
    padding: 70px 0;
  }

  .second .table .table__row {
    height: 64px;
  }

  .third h1 {
    max-width: 580px;
    font-size: 42px;
    line-height: 50px;
  }

  .third h2 {
    max-width: 540px;
  }

  .third__right .col:first-child {
    margin-right: 80px;
  }
}

@media (max-width: 1560px) {

  .container,
  .middle__container {
    width: 1100px;
    margin: 0 auto;
  }

  .third h1 {
    max-width: 480px;
    font-size: 32px;
    line-height: 42px;
  }

  .third h2 {
    max-width: 460px;
    font-size: 16px;
    line-height: 22px;
  }

  .third__right .third__img img {
    max-width: 180px;
  }

  .third__right .col:first-child .third__img:nth-child(2) {
    margin: 60px 0;
  }

  .third__right .col:last-child .third__img:nth-child(2) {
    margin: 40px 0;
  }

  .fourth__desc {
    font-size: 16px;
  }

  .first {
    padding: 50px 0;
  }

  .second .container,
  .third {
    padding: 60px 0;
  }

  .first__part {
    width: 1000px;
    top: -68px;
  }

  .row {
    --x: 50px;
    --y: 40px;
  }

  .menu__icon {
    display: block;
  }

  .header__right {
    display: none;
  }
}

@media (max-width: 1260px) {

  .container,
  .mini__container,
  .middle__container {
    width: 800px;
    margin: 0 auto;
  }

  .table__wrapper {
    overflow-x: scroll;
  }

  .second .table {
    min-width: 1100px;
  }

  .second .table__head.table__row {
    height: 50px;
  }

  .first__part {
    display: none;
  }

  .first__left {
    width: 100%;
    text-align: center;
  }

  .first__name {
    margin: 0 auto;
  }

  .first h1 {
    margin: 10px auto 0 auto;
  }

  .second .fifth__input {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .third__part-1 {
    display: none;
  }

  .third .middle__container {
    flex-direction: column;
    text-align: center;
  }

  .third h1,
  .third h2 {
    margin: 0 auto;
  }

  .third h2 {
    margin-top: 20px;
  }

  .third__right {
    justify-content: center;
    margin-top: 40px;
  }

  .fourth .col-4 {
    width: 50%;
    text-align: center;
  }

  .fourth__back {
    margin: 0 auto;
  }
}

@media (max-width: 860px) {

  .container,
  .mini__container,
  .middle__container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }

  .fifth h1 {
    font-size: 36px;
    line-height: 42px;
  }

  .second .container,
  .third {
    padding: 40px 20px;
  }

  .row {
    --x: 20px;
    --y: 20px;
  }

  .fifth__input {
    margin: 40px auto;
  }

  .fourth {
    padding: 50px 0;
  }

  .fifth {
    padding: 40px 0;
  }
}

@media (max-width: 760px) {

  .header__left .divider,
  .header__search {
    display: none;
  }

  .header {
    padding: 16px 0;
  }

  .first h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .footer {
    padding: 30px 0;
  }

  .fifth__logo {
    transform: translateX(-100px);
  }
}

@media (max-width: 600px) {
  .fourth .col-4 {
    width: 100%;
    text-align: center;
  }

  .third__right {
    zoom: .7;
  }

  .second .fifth__input {
    padding: 0 0 0 10px;
  }

  .fifth__input input,
  .fifth__input input::placeholder {
    width: 200px;
    font-size: 16px;
  }

  .fifth__input a {
    padding: 10px;
    font-size: 16px;
  }

  .first__name img {
    display: none;
  }

  .first__name {
    font-size: 15px;
  }

  .footer__top {
    flex-direction: column;
  }

  .footer__text,
  .footer__right {
    margin-top: 30px;
  }

  .footer__media {
    margin: 30px 0;
  }
}

@media (max-width: 374.97px) {
  .wrapper {
    zoom: .8;
  }
}